<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EK - {% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.cookie-1.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tinycolor.js') }}"></script>
    <script src="{{ url_for('static', filename='build_list.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div onclick="window.location.href = '{{ url_for('index') }}';">
        <h2 class="title" style="cursor: pointer;">Enhanced Kinklist</h2>
    </div>
    <div id="main_container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>