<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="rating" content="adult" />
    <title>Enhanced Kinklist - {% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.cookie-1.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tinycolor.js') }}"></script>
    <script src="{{ url_for('static', filename='build_list.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='light_dark.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='party.css') }}">
    <link rel="canonical" href="https://kinkli.st"/>
</head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N39CVZ1PJD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N39CVZ1PJD');
</script>
<body>
    <div onclick="window.location.href = '{{ url_for('index') }}';"  class="bgc title">
        <h2 class="title" style="cursor: pointer;">Enhanced Kinklist</h2>
    </div>
    <div id="main_container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>