<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enhanced Kinklist</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.cookie-1.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tinycolor.js') }}"></script>
    <script src="{{ url_for('static', filename='build_list.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2 class="title">Enhanced Kinklist</h2>
    <div id="main_container">
        <div id="choices_container"></div>
        <div id="meta_container">
            <label class="meta" for="meta_name">Name:</label>
            <input class="meta" id="meta_name">
            <label class="meta" for="meta_age">Age:</label>
            <select class="meta" id="meta_age"></select>
            <label class="meta" for="meta_sex">Sex:</label>
            <select class="meta" id="meta_sex"></select>
            <label class="meta" for="meta_fap_freq">Masturbation Frequency:</label>
            <select class="meta" id="meta_fap_freq"></select>
            <label class="meta" for="meta_sex_freq">Sex Frequency:</label>
            <select class="meta" id="meta_sex_freq"></select>
            <label class="meta" for="meta_body_count">Body Count:</label>
            <select class="meta" id="meta_body_count"></select>
        </div>
        <div id="group_container"></div>
    </div>
</body>
<script defer>
    if(window.localStorage.length === 0){
        setupLocalStorage()
    }
    build_list()
</script>
</html>