{% extends 'base.html' %}
{% block title %}Questions{% endblock %}
{% block meta %}
<meta name="description" content="An in-depth questionare hoping to cover every (major) kink there is"/>
{% endblock %}
{% block body %}
    <div class="vc mc">
        <div onclick="window.location.href = '{{ url_for('index') }}';" style="cursor:pointer;">
            <h1 class="mh1">Enhanced Kinklist</h1>
        </div>
        <span class="mdesc">
            These are the categories available for answering. They're divided into "have tried" and "haven't tried", whether or not you've already had experience with this kink, as well as "Confused" if you really don't know what's that kink supposed to be, and "Not applicable" if don't have the option to experience this kink (e.g. experience a handjob as a woman (assigned at birth), not possible because no penis -> "Not applicable" for the "Receiving"-Part).
        </span>
        <br>
        <div class="mcl">
            {% for c in cats %}
                <div class="dchoice">
                    <span class="choice noedit" style="background-color: {{ c['color'] }}"></span>
                    <span class="choice-text">{{ c['description'] }}</span>
                </div>
            {% endfor %}
        </div>
        <br>
        <btn class="submit" style="width:60%; max-width: 200px;" onclick="refer()">Understood!</btn>
    </div>
    <script>
        function refer(){
            window.location.href = '/quiz' + window.location.search;
        }
    </script>
{% endblock %}